
body{
     background-color:slategrey;
     text-align: center;
     font-size: 18px;
     font-family: "Vibur", sans-serif;
}

.container{
    width: 100%;
}

p{
    color: skyblue;
    font-size: 8vw;
    font-family: monospace;
}

#clock{
    width: 100%;
    text-align: center;
}


#progressBarContainer{
    transform: rotate(180deg);
}
.buttonSection{
    width: 100%;
    padding-top: 5rem;
}

.neon-button1{
    float: left;
    height: 30px;
    width: 30%;
    border: 10px;
    border-radius: 12px;
}

.neon-button2{
    float: right;
    height: 30%;
    width: 30%;
    border: 10px;
    border-radius: 12px;
}

.neon-button {
    font-size: 20px;
    color: skyblue;
    background: slategrey;
    border: 4px solid #0000ff;
    padding: 30px 90px;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 4px;
    transition: 0.2s;
    box-shadow: 0 0 5px skyblue, 0 0 10px skyblue, 0 0 20px skyblue, 0 0 40px skyblue;
}